.arrow-up:hover path,
.arrow-down:hover path {
  stroke: black
}

.betting > * {
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.back-colorize{
  transition: 0.7s;
}