<div class="total-bet-container w-full">
    <div class="total-info flex">
        <div class="bets-sum-block flex justify-center items-center relative w-full overflow-hidden rounded-10 bg-main-grey-default p-[25px]">
            <h1 class="z-10 text-[24px] font-[700]">150,84
                <span class="text-main-grey-250">из</span>
                500</h1>
            <div class="back-colorize absolute h-full w-[25%] z-0 left-0 bg-gradient-to-r from-gradient-orange-dark to-gradient-orange-light"></div>
        </div>
        <div class="minutes-block rounded-10 bg-main-grey-default min-w-[82px] ml-[14px] flex justify-center items-center">
            <span class="text-[36px] font-[700] text-main-error">0</span>
        </div>
        <span class="text-[36px] font-[700] text-main-error flex items-center mx-[5px]">:</span>
        <div class="seconds-block rounded-10 bg-main-grey-default min-w-[82px] flex justify-center items-center">
            <span class="text-[36px] font-[700] text-main-error">58</span>
        </div>
    </div>

    <div class="bet-info flex justify-between items-center rounded-10 border border-r-main-grey-150 p-[20px] mt-[10px]">
        <div class="limits flex items-center">
            <span class="text-[18px] font-[600] text-main-grey-250 mr-[10px] mb-[2px]">Ставка:</span>
            <span class="flex leading-none items-center text-[18px] font-[600]"><img class="w-[14px] mr-[10px]" src="/assets/svgs/coin.svg">
                1</span>
            <div class="line w-[40px] h-[2px] rounded-10 bg-main-grey-200 mx-[10px]"></div>
            <span class="flex leading-none items-center text-[18px] font-[600]"><img class="w-[14px] mr-[10px]" src="/assets/svgs/coin.svg">
                500</span>

            <div class="circle w-[6px] h-[6px] rounded-10 bg-main-grey-default mx-[20px]"></div>

            <span class="text-[18px] font-[600] text-main-grey-250 mr-[10px] mb-[2px]">Банк:</span>
            <span class="flex leading-none items-center text-[18px] font-[600]"><img class="w-[14px] mr-[10px]" src="/assets/svgs/coin.svg">
                500</span>
        </div>

        <div class="betting flex">
            <div class="input-bet px-[13px] h-[50px] rounded-10 bg-main-grey-50 flex items-center">
                <img class="w-[14px] mr-[10px]" src="/assets/svgs/coin.svg">
                <input type="number" class="w-[55px] bg-transparent text-[18px] font-[600] placeholder:text-main-grey-250" placeholder="0">

                <div class="arrows flex flex-col justify-center items-center ml-[10px] h-full">
                    <div class="arrow-up mb-[5px] cursor-pointer flex items-end h-full">
                        <svg width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 5L5 1L9 5" stroke="#A5AEC8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="arrow-down rotate-180 mt-[5px] cursor-pointer flex items-end h-full">
                        <svg width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 5L5 1L9 5" stroke="#A5AEC8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>

            <button class="start-btn ml-[10px] h-[50px] rounded-10 w-[60px] bg-main-green-light flex justify-center items-center">
                <svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 0C6.71998 0 0 6.72 0 15C0 23.28 6.71998 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.295 0 15 0ZM19.5 18.345L15.1499 20.85C14.6099 21.165 14.01 21.315 13.4249 21.315C12.825 21.315 12.2399 21.165 11.7 20.85C10.62 20.22 9.97497 19.11 9.97497 17.85V12.825C9.97497 11.58 10.62 10.455 11.7 9.825C12.78 9.195 14.0699 9.195 15.1649 9.825L19.5149 12.33C20.5949 12.96 21.2399 14.07 21.2399 15.33C21.2399 16.59 20.5949 17.715 19.5 18.345Z" fill="#56C72C"/>
                </svg>
            </button>
        </div>
    </div>
</div>
