<div class="group-bonus-container my-[10px] relative w-full rounded-10 bg-gradient-to-r from-gradient-blue2-dark to-gradient-blue2-light p-[20px] text-white">
    <h1 class="text-[20px] font-[600] leading-[25px] mb-[27px]">
        Вступи в группу и получи
        <br>
        <span class="flex text-main-yellow"><img class="scale-[0.8] mb-[1px]" src="/assets/svgs/coin.svg">&nbsp;50 &nbsp;<span class="text-white">на баланс</span>
        </span>
    </h1>

    <p class="text-[16px] font-[400] leading-[20px]">Вступи в нашу группу Вконтакте и получи моментальный бонус
        <br>
        себе на баланс. Помни, что твой профиль должен быть публичным!</p>

    <button class="px-[46px] mt-[30px] py-[11px] rounded-10 bg-main-grey-default text-[14px] font-[500] text-main-grey-400 mr-[20px]">Обновить</button>

</div>
