<div class="bet-column w-full rounded-6 bg-white px-[20px] py-[10px] flex items-center justify-between">
    <div class="flex items-center">
        <div class="image-mask min-w-[50px] min-h-[50px] rounded-6 bg-cover bg-center" [style.backgroundImage]="setUrl(player.imgPath)"></div>
        <h1 class="username text-[16px] font-[500] text-main-grey-450 ml-[10px]">{{ player.name }}</h1>

        <div class="tickets w-[full] flex ml-[20px] items-center">
            <img src="/assets/svgs/ticket.svg">
            <p class="ml-[10px] leading-none text-[14px] font-[600] text-main-grey-250">{{ player.ticketMin + ' - ' + player.ticketMax}}</p>
        </div>
    </div>

    <div class="bet flex items-center">
        <img src="/assets/svgs/coin.svg">
        <h1 class="text-[18px] font-[600] ml-[10px]">{{ player.bet }}</h1>
    </div>
</div>
