<div class="ref-system-container w-full h-full flex flex-col">

  <!-- Referal Link Block -->
  <app-ref-link-block></app-ref-link-block>

  <div class="info-blocks w-full grid gap-[12px] grid-cols-3 px-[14px]">
      <div class="referals p-[20px] rounded-10 border border-main-grey-150">
        <h1 class="text-center leading-none text-[24px] font-[700] mb-[2px]">16</h1>
        <p class="text-center leading-none text-[16px] font-[500] text-main-grey-250">Рефералов</p>
      </div>

      <div class="referla-bet p-[20px] rounded-10 border border-main-grey-150">
        <h1 class="text-center leading-none text-[24px] font-[700] mb-[2px]">3.2%</h1>
        <p class="text-center leading-none text-[16px] font-[500] text-main-grey-250">Реф. ставка</p>
      </div>

      <div class="ref-profit p-[20px] rounded-10 border border-main-grey-150">
        <h1 class="text-center leading-none text-[24px] font-[700] mb-[2px]">780<span class="text-main-grey-250">.20</span></h1>
        <p class="text-center leading-none text-[16px] font-[500] text-main-grey-250">Реф. прибыль</p>
      </div>
  </div>

  <!-- Referal Table -->
  <app-ref-table></app-ref-table>

</div>
