<div class="dice-table-container mt-[20px]">
  <h1 class="font-[600] tetx-[16px] text-main-grey-250 mx-[14px]">История игр</h1>

  <table class="w-full">
    <tr>
      <th class="player-th w-[35%]">Игрок</th>
      <th class="w-[24%]">Сумма</th>
      <th class="w-[24%]">Коэффициент</th>
      <th class="w-[17%]">Итог</th>
    </tr>


    <tr class="border-b border-main-grey-150">
      <td>
        <div class="flex items-center">
          <div class="image-mask w-[40px] h-[40px] rounded-6 bg-main-grey-50 mr-[10px]"></div>
          <h3 class="text-[16px] font-[500] text-main-grey-400">Манящий</h3>
        </div>
      </td>

      <td>
        <div class="flex items-center">
          <img class="coin" src="/assets/svgs/coin.svg">
          <h3 class="text-[16px] font-[500] ml-[8px]">800</h3>
        </div>
      </td>

      <td>
        <h3 class="text-[16px] font-[500]">x 1.56</h3>
      </td>

      <td>
        <div class="flex items-center">
          <img class="coin" src="/assets/svgs/coin.svg">
          <h3 class="text-[16px] font-[500] ml-[8px]">1200</h3>
        </div>
      </td>
    </tr>

    <tr class="border-b border-main-grey-150">
      <td>
        <div class="flex items-center">
          <div class="image-mask w-[40px] h-[40px] rounded-6 bg-main-grey-50 mr-[10px]"></div>
          <h3 class="text-[16px] font-[500] text-main-grey-400">Манящий</h3>
        </div>
      </td>

      <td>
        <div class="flex items-center">
          <img class="coin" src="/assets/svgs/coin.svg">
          <h3 class="text-[16px] font-[500] ml-[8px]">200</h3>
        </div>
      </td>

      <td>
        <h3 class="text-[16px] font-[500]">x 1.56</h3>
      </td>

      <td>
        <div class="flex items-center">
          <img class="coin" src="/assets/svgs/coin.svg">
          <h3 class="text-[16px] font-[500] ml-[8px]">350</h3>
        </div>
      </td>
    </tr>

  </table>
</div>