<div class="slots-page-container">
    <section class="flex px-[14px] py-[20px]">
        <div class="search-block flex-[1] rounded-10 border border-main-grey-150">
            <input class="rounded-10 w-full p-[15px] text-center text-[16px] font-[500] leading-none placeholder:text-main-grey-250" placeholder="Поиск слотов.." type="text">
        </div>
    </section>

    <div class="tags flex px-[14px] items-center">
        <h1 class="text-[16px] font-[400] text-main-grey-250 w-[250px]">Популярные метки:</h1>
        <div class="tag-btns w-full flex overflow-x-auto">
            <button class="active flex items-center px-[22px] py-[15px] mr-[10px] rounded-8 bg-main-grey-default leading-none text-[16px] font-[500]">
                <img class="mr-[10px]" src="/assets/svgs/fire.svg">
                С джекпотом
            </button>

            <button class="flex items-center px-[22px] mr-[10px] py-[15px] rounded-8 bg-main-grey-default leading-none text-[16px] font-[500]">
                Фрукты
            </button>

            <button class="flex items-center px-[22px] mr-[10px] py-[15px] rounded-8 bg-main-grey-default leading-none text-[16px] font-[500]">
                Животные
            </button>

            <button class="flex items-center px-[22px] mr-[10px] py-[15px] rounded-8 bg-main-grey-default leading-none text-[16px] font-[500]">
                Мистика
            </button>
        </div>
    </div>

    <div class="line w-full h-[1px] bg-main-grey-150 my-[20px]"></div>

    <div class="games grid grid-cols-4 gap-[14px] mx-[14px]">
        <div class="game-block w-full rounded-10 bg-main-grey-default h-[126px] flex items-center justify-center">
            <div class="hover-btn w-full h-full flex justify-center items-center">
                <button class="rounded-8 py-[12px] leading-none px-[20px] bg-main-yellow flex items-center">
                    <img class="mr-[7px]" src="/assets/svgs/play.svg">
                    Играть</button>
            </div>
        </div>

        <div class="game-block w-full rounded-10 bg-main-grey-default h-[126px] flex items-center justify-center">
            <div class="hover-btn w-full h-full flex justify-center items-center">
                <button class="rounded-8 py-[12px] leading-none px-[20px] bg-main-yellow flex items-center">
                    <img class="mr-[7px]" src="/assets/svgs/play.svg">
                    Играть</button>
            </div>
        </div>

        <div class="game-block w-full rounded-10 bg-main-grey-default h-[126px] flex items-center justify-center">
            <div class="hover-btn w-full h-full flex justify-center items-center">
                <button class="rounded-8 py-[12px] leading-none px-[20px] bg-main-yellow flex items-center">
                    <img class="mr-[7px]" src="/assets/svgs/play.svg">
                    Играть</button>
            </div>
        </div>

        <div class="game-block w-full rounded-10 bg-main-grey-default h-[126px] flex items-center justify-center">
            <div class="hover-btn w-full h-full flex justify-center items-center">
                <button class="rounded-8 py-[12px] leading-none px-[20px] bg-main-yellow flex items-center">
                    <img class="mr-[7px]" src="/assets/svgs/play.svg">
                    Играть</button>
            </div>
        </div>

        <div class="game-block w-full rounded-10 bg-main-grey-default h-[126px] flex items-center justify-center">
          <div class="hover-btn w-full h-full flex justify-center items-center">
              <button class="rounded-8 py-[12px] leading-none px-[20px] bg-main-yellow flex items-center">
                  <img class="mr-[7px]" src="/assets/svgs/play.svg">
                  Играть</button>
          </div>
      </div>

      <div class="game-block w-full rounded-10 bg-main-grey-default h-[126px] flex items-center justify-center">
          <div class="hover-btn w-full h-full flex justify-center items-center">
              <button class="rounded-8 py-[12px] leading-none px-[20px] bg-main-yellow flex items-center">
                  <img class="mr-[7px]" src="/assets/svgs/play.svg">
                  Играть</button>
          </div>
      </div>

      <div class="game-block w-full rounded-10 bg-main-grey-default h-[126px] flex items-center justify-center">
          <div class="hover-btn w-full h-full flex justify-center items-center">
              <button class="rounded-8 py-[12px] leading-none px-[20px] bg-main-yellow flex items-center">
                  <img class="mr-[7px]" src="/assets/svgs/play.svg">
                  Играть</button>
          </div>
      </div>

      <div class="game-block w-full rounded-10 bg-main-grey-default h-[126px] flex items-center justify-center">
          <div class="hover-btn w-full h-full flex justify-center items-center">
              <button class="rounded-8 py-[12px] leading-none px-[20px] bg-main-yellow flex items-center">
                  <img class="mr-[7px]" src="/assets/svgs/play.svg">
                  Играть</button>
          </div>
      </div>

    </div>

</div>
