* {
  transition: none;
}

.mobile-logo {
  display: none;
}

.nav-ul > li:hover, .games-ul > li:hover {
  background-color: #EAEEF980;
}

.games-ul > li.active path,
.games-ul > li.active circle {
  fill: white;
}

.games-ul > li.active {
  background: linear-gradient(90deg, #56C72C 0%, #5CA541 100%);
  color: white;
}

/* -------------- */

.nav-ul > li.active path,
.nav-ul > li.active circle {
  fill: black;
}

.nav-ul > li.active {
  background: #F7C61A;
}

@media screen and (max-width: 1150px) {
  .games-ul > li > .resoure,
  .nav-ul > li > svg {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .mobile-logo {
    display: flex;
  }

  .games-ul > li > .resoure {
    display: flex;
  }

  .nav-ul > li > svg {
    display: block;
  }
}