<div class="main-container flex flex-col w-full h-full bg-white mx-auto">
    <app-navbar></app-navbar>

    <div class="inner-container flex w-full h-full min-h-0">
        <div class="menu min-w-[255px] min-h-0 z-10 overflow-y-auto bg-white" [ngClass]="{'opened': menuTab}">
            <app-menu (close)="menuTab = $event"></app-menu>
        </div>

        <div (click)="menuOpen()" class="menu-toggle z-10 fixed top-0 left-0 bg-white p-[22px] border-t border-r border-main-grey-150"
        [ngClass]="{'opened': menuTab}">
          <img src="/assets/svgs/menu.svg">
        </div>

        <div class="content w-full overflow-y-auto">
            <app-content></app-content>
        </div>

        <div class="right-block grid z-10 grid-cols-1 min-w-[375px] border-l border-main-grey-150 overflow-y-auto bg-white" [ngClass]="{'opened': chatTab}">
            <app-balance (close)="chatTab = $event"></app-balance>
            <app-contest-banner></app-contest-banner>
            <app-chat></app-chat>
        </div>

        <div (click)="chatOpen()" class="chat-toggle z-10 fixed bottom-0 right-0 bg-white p-[15px] border-t border-l border-main-grey-150"
        [ngClass]="{'opened': chatTab}">
          <img src="/assets/svgs/chat.svg">
        </div>

        <div class="tab-bg top-0 left-0 fixed w-full h-full z-[15]" *ngIf="menuTab || chatTab" (click)="menuTab = false; chatTab = false"></div>
    </div>
</div>


<app-modal-deposit *ngIf="modalsService.modals.deposit"></app-modal-deposit>
<app-modal-withdraw *ngIf="modalsService.modals.withdraw"></app-modal-withdraw>
<app-modal-chests *ngIf="modalsService.modals.chests"></app-modal-chests>
<app-modal-tournaments *ngIf="modalsService.modals.tournaments"></app-modal-tournaments>