.right-block {
  grid-template-rows: auto auto 1fr;
}

.menu-toggle, .chat-toggle {
  display: none;
}

.tab-bg {
  background: rgba(35, 49, 65, 0.5);
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 1150px) {
  .menu {
    min-width: 215px;
  }

  .right-block {
    min-width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .menu  {
    position: fixed;
    bottom: 0;
    left: -250px;
    height: 100%;
    min-width: 250px;
    transition: left 0.2s;
    z-index: 100;
  }

  .menu-toggle {
    display: block;
  }

  .menu.opened {
    left: 0px;
  }

  /* ----------- */

  .right-block  {
    position: fixed;
    bottom: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    transition: right 0.2s;
    z-index: 100;
  }

  .right-block.opened {
    right: 0px;
  }

  .chat-toggle {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .right-block, .menu {
    width: calc(100% - 55px);
    min-width: 0;
  }

  .menu {
    left: calc(-100% - 55px);
  }

  .right-block {
    right: calc(-100% - 55px);
  }
} 

@media screen and (max-width: 400px) {
  .menu-toggle {
    padding: 18px;
  }
}