.emoji-block > img {
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

.emoji-block > img:hover {
  background-color: white;
}

button path {
  transition: 0.1s;
  fill: #3B3B47;
}

button.active path, button:hover path {
    opacity: 0.5;
}

