<app-modal-template>
    <div class="chests-container max-w-[642px]">
        <h1 class="text-center text-[18px] font-[600] p-[20px]">Пополнение баланса</h1>

        <div class="line w-full h-[1px] bg-main-grey-150"></div>

        <div class="chests grid grid-cols-4 gap-[60px] p-[20px] mx-[35px]">
            <div class="chest flex flex-col items-center active">
                <img src="/assets/imgs/chest.png">
                <button class="coin flex items-center mt-[14px] px-[20px] py-[13px] rounded-10 bg-main-grey-default">
                    <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.23077 5.9231H15.7692" stroke="#F9B858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.4335 1H5.56079C4.20066 1 3.6006 1.69088 3.23257 2.5362L1.18437 7.21794C0.816335 8.06324 1.01635 9.32308 1.63241 10.0058L7.12094 16.1344C8.16108 17.2885 9.85725 17.2885 10.8893 16.1344L16.3699 9.99771C16.9859 9.30683 17.186 8.05511 16.8099 7.20981L14.7617 2.52807C14.3937 1.69088 13.7936 1 12.4335 1Z" stroke="#F7AF43" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="text-[18px] font-[600] ml-[10px] leading-none">20</p>
                </button>
            </div>

            <div class="chest flex flex-col items-center">
                <img src="/assets/imgs/chest.png">
                <button class="coin flex items-center mt-[14px] px-[20px] py-[13px] rounded-10 bg-main-grey-default">
                    <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.23077 5.9231H15.7692" stroke="#F9B858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.4335 1H5.56079C4.20066 1 3.6006 1.69088 3.23257 2.5362L1.18437 7.21794C0.816335 8.06324 1.01635 9.32308 1.63241 10.0058L7.12094 16.1344C8.16108 17.2885 9.85725 17.2885 10.8893 16.1344L16.3699 9.99771C16.9859 9.30683 17.186 8.05511 16.8099 7.20981L14.7617 2.52807C14.3937 1.69088 13.7936 1 12.4335 1Z" stroke="#F7AF43" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="text-[18px] font-[600] ml-[10px] leading-none">50</p>
                </button>
            </div>

            <div class="chest flex flex-col items-center">
                <img src="/assets/imgs/chest.png">
                <button class="coin flex items-center mt-[14px] px-[20px] py-[13px] rounded-10 bg-main-grey-default">
                    <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.23077 5.9231H15.7692" stroke="#F9B858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.4335 1H5.56079C4.20066 1 3.6006 1.69088 3.23257 2.5362L1.18437 7.21794C0.816335 8.06324 1.01635 9.32308 1.63241 10.0058L7.12094 16.1344C8.16108 17.2885 9.85725 17.2885 10.8893 16.1344L16.3699 9.99771C16.9859 9.30683 17.186 8.05511 16.8099 7.20981L14.7617 2.52807C14.3937 1.69088 13.7936 1 12.4335 1Z" stroke="#F7AF43" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="text-[18px] font-[600] ml-[10px] leading-none">150</p>
                </button>
            </div>

            <div class="chest flex flex-col items-center">
                <img src="/assets/imgs/chest.png">
                <button class="coin flex items-center mt-[14px] px-[20px] py-[13px] rounded-10 bg-main-grey-default">
                    <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.23077 5.9231H15.7692" stroke="#F9B858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.4335 1H5.56079C4.20066 1 3.6006 1.69088 3.23257 2.5362L1.18437 7.21794C0.816335 8.06324 1.01635 9.32308 1.63241 10.0058L7.12094 16.1344C8.16108 17.2885 9.85725 17.2885 10.8893 16.1344L16.3699 9.99771C16.9859 9.30683 17.186 8.05511 16.8099 7.20981L14.7617 2.52807C14.3937 1.69088 13.7936 1 12.4335 1Z" stroke="#F7AF43" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="text-[18px] font-[600] ml-[10px] leading-none">500</p>
                </button>
            </div>
        </div>

        <div class="bars grid grid-cols-4 gap-[2px] px-[20px] pb-[20px]">
            <div class="chest-bar w-full h-[14px] bg-main-grey-default">
              <div class="inner-bar h-full w-[50%] bg-[#F7C61A]"></div>
            </div>
            <div class="chest-bar w-full h-[14px] bg-main-grey-default">
              <div class="inner-bar h-full w-[0%] bg-[#F7C61A]"></div>
            </div>
            <div class="chest-bar w-full h-[14px] bg-main-grey-default">
              <div class="inner-bar h-full w-[0%] bg-[#F7C61A]"></div>
            </div>
            <div class="chest-bar w-full h-[14px] bg-main-grey-default">
              <div class="inner-bar h-full w-[0%] bg-[#F7C61A]"></div>
            </div>
        </div>
    </div>
</app-modal-template>
