<div class="ref-table-container w-full h-full border-t border-main-grey-150 mt-[20px]">
    <h1 class="text-[16px] px-[14px] font-[600] text-main-grey-250 py-[20px] leading-none">Мои рефералы</h1>

    <table class="w-full text-left">
        <tr class="text-main-grey-350">
            <th class="font-[500] text-[12px] pl-[14px] pb-[10px]">Игрок</th>
            <th class="font-[500] text-[12px] pb-[10px]">Дата регистрации</th>
            <th class="font-[500] text-[12px] pr-[14px] pb-[10px]">Прибыль</th>
        </tr>

        <tr class="border-b border-main-grey-150">
            <td class="player py-[10px] pl-[14px] w-[35%]">
                <div class="flex items-center">
                    <div class="image-mask min-h-[40px] min-w-[40px] rounded-6 bg-main-grey-50" [style.background]="'url(' + '/assets/imgs/chat/4.png' + ')'"></div>
                    <h3 class="ml-[10px] text-[16px] font-[500] text-main-grey-450">Манящий</h3>
                </div>
            </td>
            <td class="date py-[10px] w-[43%]">
                <p class="text-[16px] font-[400] text-main-grey-250 leading-none">18.02.22</p>
            </td>
            <td class="profit py-[10px] pr-[14px] w-[22%]">
                <div class="flex items-center">
                    <img class="pb-[2px]" src="/assets/svgs/coin.svg"/>
                    <h3 class="text-[16px] font-[600] ml-[10px] leading-none">842<span class="text-[16px] font-[600] text-main-grey-250">.54</span></h3>
                </div>
            </td>
        </tr>

        <tr class="border-b border-main-grey-150">
          <td class="player py-[10px] pl-[14px] w-[35%]">
              <div class="flex items-center">
                  <div class="image-mask min-h-[40px] min-w-[40px] rounded-6 bg-main-grey-50" [style.background]="'url(' + '/assets/imgs/chat/2.png' + ')'"></div>
                  <h3 class="ml-[10px] text-[16px] font-[500] text-main-grey-450">Perspectiva</h3>
              </div>
          </td>
          <td class="date py-[10px] w-[43%]">
              <p class="text-[16px] font-[400] text-main-grey-250 leading-none">16.02.22</p>
          </td>
          <td class="profit py-[10px] pr-[14px] w-[22%]">
              <div class="flex items-center">
                  <img class="pb-[2px]" src="/assets/svgs/coin.svg"/>
                  <h3 class="text-[16px] font-[600] ml-[10px] leading-none">2<span class="text-[16px] font-[600] text-main-grey-250">.84</span></h3>
              </div>
          </td>
      </tr>
    </table>
</div>
