<app-modal-template>
  <div class="modal-attention-container flex flex-col items-center p-[20px] max-w-[520px]">
    <img class="mb-[20px]" src="/assets/svgs/attent.svg">
    <p class="text-center leading-8 text-[16px]">Пользователь согласен с тем, что Администрация Сайта не несет 
      ответственности и не имеет прямых или косвенных обязательств перед 
      Пользователем в связи с любыми возможными или возникшими 
      потерями или убытками, связанными с любым содержанием Сайта, 
      регистрацией авторских прав и сведениями о такой регистрации, 
      товарами или услугами, доступными на или полученными через внешние 
      сайты или ресурсы либо иные контакты Пользователя, в которые он 
      вступил, используя размещенную на Сайте информацию или ссылки 
      на внешние ресурсы</p>
  </div>
</app-modal-template>