@import 'font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'SF', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  /* transition: 0.05s all; */
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  max-width: 1424px;
  margin: 0 auto;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #DFE3F9;
  border-top: 6px solid white;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 2px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #DFE3F9;
}