.image-mask {
  background-image: url('/assets/imgs/avatars/4.jpg');
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1150px) {
  .logo-block {
    min-width: 215px;
  }

  .auth-block, .profile-block {
    min-width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .auth-block, .profile-block {
    min-width: 150px;
  }

  .profile-block > .info > span,
  .profile-block > .btns > .history,
  .auth-block > span,
  .logo-block {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  h1, .wins-block > div > span {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}